.home-container {
    .home-banner {
        padding: 20px 20px 0 20px;
        .title-container {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h6 {
                color: #dde2ff;
                opacity: 0.6;
                margin-bottom: 20px;
            }
            button {
                border-radius: 25px;
                padding: 10px 18px;
                border-color: transparent !important;
                margin-right: 20px;
            }
        }
        .image-container {
            img {
                width: 100%;
                margin-right: -40px;
            }
        }
    }
    .home-offer {
        background-color: #fafafa;
        padding: 70px 10px;
        .offer-head {
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                span{
                    position: relative;
                    &:after {
                        content: url('../../assets/img/circles.png');
                        position: absolute;
                        right: -25px;
                        top: -3px;
                    }
                }
            }
            div {
                color: #434b63;
                width: 50%;
                margin-top: 20px;
            }
        }
        .holder-creator-container {
            padding: 50px 0;
            .creator-wrap {
                border-radius: 25px;
                box-shadow: 0px 12px 22px rgba(96, 132, 201, 0.28);
                text-align: left;
                padding: 30px 60px 30px 30px;
                .card-content {
                    color: #0f1320;
                    opacity: 0.5;
                }
                a {
                    text-decoration: underline;
                }
               .arrow-icon {
                    margin-left: 5px;
                    width: 14px;
                    height: 12px;
               }
            }
        }
    }
    .home-intro {
        background-image: url('../../assets/img/intro-bg.svg');
        padding: 30px;
        .dec-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            h1{
                span{
                    position: relative;
                    &:after {
                        content: url('../../assets/img/green-circles.svg');
                        position: absolute;
                        right: -25px;
                        top: -3px;
                    }
                }
            }
            p {
                opacity: 0.8;
                color: #dde2ff;
            }
            button {
                border-radius: 25px;
                padding: 10px 18px;
                border-color: transparent !important;
                margin-right: 20px;
                width: 180px;
            }
            
        }
    }
    .road-map {
        background-color: #fafafa;
        padding: 50px 0;
        .card-list {
            display: flex;
            padding-top: 30px;
            .card-container {
                width: 25%;
                position: relative;
                .green-overlay {
                    position: absolute;
                    width: 100%;
                    opacity: 0.1;
                    height: 100%;
                    background: linear-gradient(rgba(34, 167, 93, 1),rgba(34, 167, 93, 0.02));
                } 
                .blue-overlay {
                    position: absolute;
                    width: 100%;
                    opacity: 0.1;
                    height: 100%;
                    background: linear-gradient(#2278D4, rgba(34, 120, 212, 0.02));
                } 
                .red-overlay {
                    position: absolute;
                    width: 100%;
                    opacity: 0.1;
                    height: 100%;
                    background: linear-gradient(rgba(226, 6, 19, 1), rgba(226, 6, 19, 0.02));
                }
                .yellow-overlay {
                    position: absolute;
                    width: 100%;
                    opacity: 0.1;
                    height: 100%;
                    background: linear-gradient(rgba(255, 209, 0, 1), rgba(255, 209, 0, 0.02));
                }
                .card-wrap {
                    width: 100%;
                    padding: 30px 10px 80px 20px;
                    .card-content {
                        padding-left: 40px;
                        padding-top: 17px;
                        .card-row {
                            display: flex;
                            .card-des {
                                margin-left: 15px;
                                color: #434b63;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }
                       
                    }
                }
            }
            
        }
    }
    .home-coming {
        background-color: #fafafa;
        padding: 50px 0;
        .coming-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .coming-title {
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                h1{
                    span{
                        position: relative;
                        &:after {
                            content: url('../../assets/img/green-circles.svg');
                            position: absolute;
                            right: -40px;
                            top: -4px;
                        }
                    }
                }
            }
        }
    }
    .overlap-with-footer {
        background-color: #fafafa;
        padding: 50px 0;
        .withFooter {
            background-image: url('../../assets/img/with-footer-bg.svg');
            .presale {
                .pre-detail {
                    display: flex;
                    justify-content: center;
                    .pre-header {
                        max-width: 40%;
                        .presale-content {
                            color: #434b63;
                        }
                    }
                }
                .pre-card-container {
                    padding: 20px;
                    display: flex;
                    .card-one-container {
                        border-top: 10px solid;
                        border-radius: 10px;
                        margin-right: 33px;
                        width: 30%;
                        padding: 23px;
                        background-color: white;
                        .c-price {
                            position: relative;
                            &::after {
                                content: "|";
                                color: #6c757d;
                                opacity: 0.2;
                                font-size: 43px;
                                font-weight: 100;
                                position: absolute;
                                left: 50%;
                            }
                        }
                    }
                    .middle-card{
                        position: relative;
                        &::after {
                            content: url('../../assets/img/round-green-arrow.svg');
                            position: absolute;
                            left: 90%;
                            top: 30%;
                        }
                        &::before {
                            content: url('../../assets/img/round-yellow-arrow.svg');
                            position: absolute;
                            left: -18%;
                            top: 30%;
                        }
                    }
                }
                
            }
            .how-buy {
                padding: 100px 0;
                .buy-text {
                    text-align: left;
                    padding: 45px;
                    .service-wrap {
                        .service-one-wrap {
                            display: flex;
                            align-items: baseline;
                            justify-content: space-between;
                            margin-top: 50px;
                            .service-badge {
                                width: 56px;
                                height: 56px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                            }
                            .service-text {
                                width: 80%;
                                text-align: left;
                            }
                        }
                    }
                }
                .service-img {
                    img {
                        width: 100%;
                    }
                    
                }
                
            }
        }
    }
    
}