.border-btn {
    color: white;
    border-radius: 21px;
}
.custom-nav-left {
    a {
        color: white !important;
    }
}
.header-container {
    padding-top: 20px;
}
.navbar-brand {
    padding-bottom: 1.3125rem;
}
