.footer-wrap {
    padding: 50px 0px 80px 0px;
    .page-link-list {
        width: 70%;
        margin: auto;
        .link-one {
            text-decoration-line: underline;
            text-transform: uppercase;
            position: relative;
            &::after {
                content: "/";
                color: white;
                position: absolute;
                opacity: 0.16;
                right: 0;
            }
        }
    }
    .end-line {
        padding-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .social-list {
            display: flex;
            align-items: center;
            .social-one {
                margin-right: 5px;
                padding: 10px 12px;
                border-radius: 50%;
                border: 2px solid rgba(255,255,255,0.05);
            }
        }
    }
}